<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/productList-styles.css" />
    <title>Descripción del Producto</title>
  </head>
  <body>
    <!--INICIO DEL HEADER-->

    <%- include('./partials/header') %>

    <!--FIN DEL HEADER-->

    <!-- MAIN -->
    <div>
      <img class="img-banner" src="/img/Ahora12.jpeg" alt="banner" />
    </div>
    <div class="row">
      <!-- RIGHT COLUMN -->
      <div class="left-column-list">
        <div class="results">
          <h3 class="results">Resultados</h3>
        </div>
        <div>
          <ul class="list-group">
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value=""
                aria-label="..."
              />
              Guitarras/Bajos
            </li>
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value=""
                aria-label="..."
              />
              Baterías
            </li>
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value=""
                aria-label="..."
              />
              Teclados
            </li>
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value=""
                aria-label="..."
              />
              Audio
            </li>
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value=""
                aria-label="..."
              />
              Accesorios
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Filtrar</button>
          <div class="dropdown-content">
            <a href="#">Más relevantes</a>
            <a href="#">Menor precio</a>
            <a href="#">Mayor precio</a>
            <a href="#">Últimos agregados</a>
            <a href="#">A - Z</a>
            <a href="#">Z - A</a>
          </div>
        </div>
      </div>

      <!-- LEFT COLUMN -->
      <div class="right-column">
        <div class="productos">
          <% for (let i = 0 ; i < products.length ; i++) { %>

          <div class="fila-productos">
            <a href="<%=products[i].prodId %>"><article class="product">
              <img src="/img/products/<%= products[i].imagen %>" alt="producto" />
              <div class="cart">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <div class="precio-descuento">
                <h3 class="precio">$<%= products[i].precio %></h3>

                <h3 class="nombre"><%= products[i].nombre %></h3>
              </div>
            </article>
            <div>
              <h3 class="descripcion"><%= products[i].descripcion %></h3>
            </div>
          </div>
          
        </a>
          <% } %>
        </div>
      </div>

      <!-- END LEFT COLUMN -->
    </div>

    <!-- FIN DEL MAIN -->

    <!--INICIO DEL FOOTER-->
    <%- include('./partials/footer') %>
  </body>
  <!--FIN DEL FOOTER-->
</html>
