<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/Productdetail-styles.css"/>
    <title> </title>
  </head>
  <body>

<!--INICIO DEL HEADER-->
<%- include('./partials/header') %>
<!--FIN DEL HEADER-->

    <main class="container">
      <!-- Left Column-->
      <div class="left-column">
        <div class="img-container">
          <!--Main Picture-->
          <img
            class="product-img"
            src="/img/products/<%= selectedProduct.imagen %>"
            alt="Guitar"
          />
          <!--Row Picture-->
          <!-- <div class="product-img-row">
            <div class="column">
              <img
                src="/img/Gibson-2.webp"
                alt="Imagen Instrumento"
                style="width: 100%"
              />
            </div>
            <div class="column">
              <img
                src="/img/Gibson-3.webp"
                alt="Imagen Instrumento"
                style="width: 100%"
              />
            </div>
            <div class="column">
              <img
                src="/img/Gibson-4.webp"
                alt="Imagen Instrumento"
                style="width: 100%"
              />
            </div>
            <div class="column">
              <img
                src="/img/Gibson-5.webp"
                alt="Imagen Instrumento"
                style="width: 100%"
              />
            </div>
          </div> -->
        </div>
        <!--Text Description-->
        <div class="product-description">
          <h3 class="description-title">
            Descripción del producto:
          </h3>
          <h4> 
            <%= selectedProduct.descripcion %> 
          </h4>
          <h3 class="description-title">
            Dimensiones:
          </h3>
          <h4>
            
            <%= selectedProduct.alto%> 
            cm de alto
          </h4>
          <h4>
            <%= selectedProduct.ancho %> 
            cm de ancho
          </h4>
          <h4>
            <%= selectedProduct.profundidad %> 
            cm de profundidad
          </h4>
        </div>
      </div>

      <!-- Right Column -->
      <div class="right-column">
        <!-- Product Description -->
        <div class="product-name">
          <h1><%= selectedProduct.nombre %></h1>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">
          <form action="" >
          <div class="radio-buttons">
            
            <label for="always">Con funda</label>
            <input type="radio" name="funda" id="con-funda" value="con-funda" checked/>
            
            
            <label for="never">Sin Funda</label>
            <input type="radio" name="funda" id="con-funda" value="con-funda"/>
            </label>
          </div>
            <div class="radio-buttons">
              <label for="always">Con garantía</label>
            <input type="radio" name="garantia" id="con-garantia" value="con-garantia" checked/>
            
            <label for="never">Sin garantía</label>
            <input type="radio" name="garantia" id="sin-garantía" value="sin-garantía"/>
            
            </label>
          </div>
                    
    </form>
        </div>

        <!-- Product Pricing -->
        <!-- <div class="product-price">
          <div >
            <img class="mercadopago-img" src="https://www.blackmusic.com.ar/img/mediospago.jpg?v=1630076275" alt="Mercadopago">
          </div>
          <div class="precio">
          <h2><%=selectedProduct.precio%></h2>
        </div>
        <div class="buttons">
          <div>
            <button class="buy-btn">Agregar al carrito</button>
          </div>
              <div><button class="wishlist-btn">
                Agregar a Favoritos </button></div>
            </div>
            <div>
              <a href="/products/<%=selectedProduct.prodId%>/edit"><button class="edit-btn">Editar</button></a>
            </div>
        </div> -->
        <!-- <form action="/products/<%= selectedProduct.prodId %>/delete?_method=DELETE" method="POST" enctype="multipart/form-data"> -->
          <div class="product-price">
              <div>
                  <img class="mercadopago-img" src="https://www.blackmusic.com.ar/img/mediospago.jpg?v=1630076275" alt="Mercadopago" />
              </div>
              <div class="precio">
                  <h2><%=selectedProduct.precio%></h2>
              </div>
              <div class="buttons">
                  <div>
                      <button class="buy-btn">Agregar al carrito</button>
                  </div>
                  <div>
                      <button class="wishlist-btn">
                          Agregar a Favoritos
                      </button>
                  </div>
              </div>
              <div>
                  <a href="/products/<%=selectedProduct.prodId%>/edit"><button class="edit-btn">Editar</button></a>
              </div>
              <div>
                <a href="/products/<%= selectedProduct.prodId %>/delete"><button class="buy-btn">Borrar</button></a>
              </div>
                <form action="/products/<%= selectedProduct.prodId %>/delete" method="GET">
              <!-- <div>
                  <button type="submit" class="buy-btn" >Borrar</button>
                       <input type="hidden"  name="id" id="id"  value=<%= selectedProduct.prodId%> > -->

              <!-- </div> --> 
            </form>

              
          </div>
      <!-- </form> -->
    </main>

        <!--INICIO DEL FOOTER-->
        <%- include('./partials/footer') %>
        <!--FIN DEL FOOTER-->
        
  </body>
</html>