<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/product_admin.css">  
    <title>Administración de Productos</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
  
  </head>
 <body>
    <div class="grid-container">
      <div class="rows-3">
        <!--INICIO DEL HEADER-->
        <%- include('./partials/header') %>
        <!--FIN DEL HEADER-->
      </div>
      <script src="/js/productEditValidation.js"></script>
      <div class="column-3 recuadro"> <div class="column-3">
    </div></div>
      <div class="column-3">
          <div class="testbox">
            <form class="form_admin" action="/products/<%=product.id_product%>/update?_method=PUT" method="POST" enctype="multipart/form-data" id="formEdit">
              <div class="banner">
                <h1 class="h1_form">Edición de productos</h1>
              </div>

              <div class="item">
                
                <!-- <p>Productos</p> -->
                <div class="multiple-items">
                  <div>
                    <p>Product ID</p>
                    <input class="borders input2" type="number" name="productId" placeholder="0000000"  value="<%= product.id_product %>" disabled>  
                  </div>
                  <div>
                    <p>Nombre</p>
                    <input class="borders input2" type="text" id ="productName" name="name" placeholder="Nombre" value="<%= product.brand %>" >
                    <% if (locals.errors && errors.name) { %>
                      <div class="text-danger">
                        <%= errors.name.msg %>
                        </div>
                        <% } %>
                  </div>
                  <div class="item">
                    <p>Precio</p>
                    <% for (let i = 0 ; i < product.prod_price.length ; i++) { %>
                    <input class="borders input2"  type="number" name="precio" placeholder="$ 0.00" value="<%= product.prod_price[i].price %>" >
                    <% } %>
                    <div>
                      <% if (locals.errors && errors.precio) { %>
                        <div class="text-danger">
                          <%= errors.precio.msg %>
                          </div>
                          <% } %>
                    </div>
                  </div>
                  <div class="item">
                    <p>Cantidad</p>
                    <input class="borders input2" type="number" name="cantidad" placeholder="0" min="0" max="10" disabled>
                  </div>                   
                </div>
                <div class="item">
                  <p>Descripción</p>
                  
                  <textarea class="borders textarea2" name="descripcion"rows="3" placeholder="Incluya la descripción general del producto" id="descripcion" value=> <%= product.description %> </textarea>
                </div>          
                <div class="item">
                  <p>Imagen producto</p>
                  <!-- <input type="file" name="img" accept="image/*"> -->
                 
                  <input class="borders input2" type="file" name="img" accept="image/*" id="img">
                 
                  <% for (let i = 0 ; i < product.prod_image.length ; i++) { %>
                  <img  src="/img/products/<%=product.prod_image[i].name%>" id="img"  alt="<%=product.prod_image[i].name%>" width="400" height="400">
                  <% } %>
                </div>                
                <div class="item">
                  <p>Categoría</p>
                  <!--
                    <select name="categoria" disabled >
                    <option value="undefined">Seleccione una categoría</option>
                    <option value="guitarra" <%= product.categoria  == 'guitarra' ? 'selected' : ''%>>Guitarra</option>
                    <option value="bajo"  <%= product.categoria  == 'bajo' ? 'selected' : ''%>>Bajo</option>
                    <option value="teclado" <%= product.categoria  == 'teclado' ? 'selected' : ''%>>Teclado</option>
                    <option value="audio" <%= product.categoria  == 'audio' ? 'selected' : ''%>>Audio</option>
                    <option value="bateria" <%= product.categoria  == 'bateria' ? 'selected' : ''%>>Bateria</option>                    
                    <option value="accesorios" <%= product.categoria  == 'accesorios' ? 'selected' : ''%>>Accesorios</option>
                  </select>
                  --> 
                  
                  <select name="categoria" id="" value="<%= product.id_prod_category%>">
                    <!-- <option value="" disabled selected>- Seleccione la categoría - </option> -->
                    
                    <option value="1">Guitarra</option>
                    <option value="2">Bajo</option>
                    <option value="3">Batería</option>
                    <option value="4">Teclado</option>
                    <option value="5">Amplificador</option>
                  
                </select>
                </div>
                <div class="item">
                  <p>Medidas</p>
                  <div class="dimensions"> 
                    <select class="borders select2" name="medidas" disabled>
                      <option value="cm" <%= product.medidas  == 'cm' ? 'selected' : ''%>>Centimetros</option>
                      <option value="inch" <%= product.medidas  == 'inch' ? 'selected' : ''%>>Pugadas</option>
                      <option value="metro" <%= product.medidas  == 'metro' ? 'selected' : ''%>>Metro</option>
                    </select>                            
                    <input class="borders input2" type="number" name="alto" placeholder="Alto" id="alto" value=<%= product.alto %> >
                    <input class="borders input2" type="number" name="ancho" placeholder="Ancho" id="ancho" value=<%= product.ancho %> >
                    <input class="borders input2" type="number" name="profundidad" placeholder="Profundidad" id="profundidad" value=<%= product.profundidad %> >
                  </div>
                </div>
                <div class="item">
                  <p>Color principal</p>
                  <select class="borders select2"  name="color" id="">
                    <option value="" disabled selected>- Seleccione el color - </option>
                    
                    <option value="1">Silver</option>
                    <option value="2">Negro</option>
                    <option value="3">Blanco</option>
                    <option value="4">Azul</option>
                    <option value="5">Rojo</option>
                   
                </select>
                </div>                  
              </div>
              <!-- <div class="item">
                <p>Precio</p>
                <input type="number" name="precio" placeholder="$ 0.00">
              </div>
              <div class="item">
                <p>Cantidad</p>
                <input type="number" name="cantidad" placeholder="0" min="0" max="10">
              </div> -->
              <!-- <div class="item"> -->
                <div class="multiple-items">
                  <button class="button2" type="submit" >GUARDAR</button>                
                  <!-- <button type="button" href="/products/list">CANCELAR</button> -->
                  <a href="/products/list"><button class="button2">CANCELAR</button></a>
                </div>
              <!-- </div> -->
            </form>
          </div>
      </div>
      <div class="recuadro">4</div>
      <div class="recuadro">5</div>
      <div class="recuadro"><div class="errores">
        <ul></ul>
      </div></div>  
      <div class="rows-3">
        <!--INICIO DEL FOOTER-->
        <%- include('./partials/footer') %>
        <!--FIN DEL FOOTER-->
      </div>
    </div> 
  </body> 
  </html>