<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style-register.css" />
    <title>Registro - Dr Music</title>
  </head>
  <body>
    <!--INICIO DEL HEADER-->
    <%- include('./partials/header') %>
    <!--FIN DEL HEADER-->

    <div class="logo-mediano">
      <img class="mid-logo" src="/img/Dr-F2EDE4.png" alt="our-logo" />
    </div>
    <div>
      <p class="message-create">Crea tu cuenta</p>
    </div>
    
    <form action="/users/register" method="POST" class="register" enctype="multipart/form-data">
      <div class="complete-name">
        <div class="input-errormsg">
          <input type="text" name="name" placeholder="Nombre" class="name" value="<%= locals.oldData ? oldData.name : null %>">
          <% if (locals.errors && errors.name) { %>
          <div class="text-danger">
          <%= errors.name.msg %>
          </div>
          <% } %>
          <section class="errorName">
            <p>
            
            </p>
          </section>          
        </div>
        <div class="input-errormsg">
          <input type="text" name="lastName" placeholder="Apellido" class="lastName" value="<%= locals.oldData ? oldData.lastName : null %>">
          <% if (locals.errors && errors.lastName) { %>
          <div class="text-danger">
          <%= errors.lastName.msg %>
          </div>
          <% } %>
          <section class="errorLastName">
            <p>
            
            </p>
          </section>   
        </div>
      </div>
      <div class="complete-email">
        <div class="input-errormsg">
          <input type="text" name="email" placeholder="Dirección de Email" class="mail" value="<%= locals.oldData ? oldData.email : null %>">
          <% if (locals.errors && errors.email) { %>
          <div class="text-danger">
          <%= errors.email.msg %>
          </div>
          <% } %>
          <section class="errorEmail">
            <p>
            
            </p>
          </section>   
        </div>
        </div>

      <div class="complete-password">
        <div class="input-errormsg">
          <input type="password" name="password" placeholder="Contraseña" class="password">
          <% if (locals.errors && errors.password) { %>
          <div class="text-danger">
          <%= errors.password.msg %>
          </div>
          <% } %>
          <section class="errorPassword">
            <p>
            
            </p>
          </section>    
        </div>
        </div>
      <div class="complete-picture">
        <div class="input-errormsg">
          <input type="file" name="img" class="avatar" id="avatar1">
          <% if (locals.errors && errors.img) { %>
            <div class="text-danger">
              <%= errors.img.msg %>
            </div>
          <% } %>
          <section class="errorImagen">
            <p>

            </p>
          </section>   
        </div>
      </div>
      <br>
      <div class="create-account-buttom">
        <button type="submit" name="create-account" class="create-account-tex">
          CREAR CUENTA
        </button>
      </div>
    </form>    

      <div class="by">
        <p class="by-low">Al continuar aceptas nuestra</p>
        <p class="by-low-red">Política de Privacidad</p>
        <p class="by-low">y</p>
        <p class="by-low-red">Términos de Uso</p>
      </div>
      <div class="already">
        <p class="already-low">¿Ya tenés una cuenta?</p>
        <a href="/users/login"><p class="already-low-red">Ingresá ahora</p></a>
      </div>


    <!--INICIO DEL FOOTER-->
    <%- include('./partials/footer') %>
    <!--FIN DEL FOOTER-->
    <script src="/js/registerFormValidation.js"></script>
  </body>
</html>
